<!-- Load libraries -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>


<style>

    #main
    {
        font-family: 'Raleway';
        color: white;
        background-color: #0A2A66;
        padding: 10px;
        margin: -8px
    }
    
    #div1
    {
        display:inline-block;
        padding: 20px;
        margin: 10px;
        margin-left: 100px
    }

    #div2
    {
        float: right;
        padding: 20px;
        padding-top: 52px;
        margin: 10px
    }

    p
    {
        font-size: 28px;
        color: #AAAAAA        
    }

    span
    {
        color: white
    }

    a
    {
        color: white;
        text-decoration: none;
        display: block;
        padding: 3px
    }

    a:hover
    {
        text-decoration: underline
    }

    #non-link
    {
        color: #AAAAAA;
        cursor: default
    }

    #non-link:hover
    {
        text-decoration: none
    }

    #inline-link
    {
        display: inline;
        padding: 0px 10px
    }

    hr
    {
        width: 1300px
    }

</style>


<div id="main">
    <br><br> 

    <div id="div1">
        <p>Our mission is to provide a free, world-class<br>education to anyone, anywhere.</p>
        <p>SkillWare Academy is a 501(c)(3) nonprofit<br>organization. <span>Donate</span> or <span>Volunteer</span> today!</p>  
    </div>

    <div id="div2" style="margin-right: 150px">
        <a href="" id="non-link">Courses</a>
        <a href="">Math</a>
        <a href="">Test prep</a>
        <a href="">Computing</a>
        <a href="">Science</a>
        <a href="">Life skills</a>
    </div> 
    <div id="div2">
        <a href="" id="non-link">Contact</a>
        <a href="">Help center</a>
        <a href="">Support community</a>
        <a href="">Share your story</a>
        <a href="">Press</a>
        <a href="" id="non-link">Download our apps</a>
        <a href="">iOS app</a>
        <a href="">Android app</a>
    </div>
    <div id="div2">
        <a href="">About</a>
        <a href="">News</a>
        <a href="">Impact</a>
        <a href="">Our team</a>
        <a href="">Our interns</a>
        <a href="">Our content specialists</a>
        <a href="">Our leaderships</a>
        <a href="">Our supporters</a>
        <a href="">Our contributors</a>
        <a href="">Our finance</a>
        <a href="">Careers</a>
        <a href="">Internships</a>
    </div>

    <div style="clear: both"></div>
    <br><br><hr>  
    
    <a href="" id="inline-link" style="padding-left: 100px">&copy;2022 SkillWare Academy</a>
    <a href="" id="inline-link">Terms of use</a>
    <a href="" id="inline-link">Privacy Policy</a>
    <a href="" id="inline-link">Cookie Notice</a>   
    <br><br><br><br> 

</div>