<!-- Load libraries -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>


<style>
    
    #main
    {
        font-family: 'Raleway';
        text-align: center;
        background-color: #52BEEC;
        height: 800px;
        padding: 0px 150px;
        padding-top: 180px;
        margin: -8px
    }

    #div0
    {
        background-color: white;
        padding: 30px 80px
    }

    #div1 button
    {
        font-weight: bold
    }

    button
    {
        text-align: left;
        background-color: white;
        border:none;
        height: 70px;
        width: 230px
    }

    #b1
    {
        width: 250px
    }

    img
    {
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-bottom: -20px
    }

    input
    {
        width: 18px;
        height: 18px;
        cursor: pointer
    }

    span
    {
        color: grey
    }

    p
    {
        text-align: right;
        padding-top: 20px        
    }

</style>


<div id="main">

    <div id="div0">

        <div id="div1">
            <button id="b1" style="padding-left: 50px;">Avatar</button>
            <button>ID</button>
            <button>First Name</button>
            <button>Last Name</button>
        </div>
        <hr>
        <div>
            <button id="b1">
                <input type="checkbox" checked>
                <img src="assets/images/Capture25.PNG">
            </button>
            <button>1</button>
            <button>Rob</button>
            <button>Percival</button>
        </div>
        <hr>
        <div>
            <button id="b1">
                <input type="checkbox" checked>
                <img src="assets/images/Capture26.PNG">
            </button>
            <button>2</button>
            <button>Jose</button>
            <button>Portilla</button>
        </div>    
        <hr>
        <div>
            <button id="b1">
                <input type="checkbox">
                <img src="assets/images/Capture27.PNG">
            </button>
            <button>3</button>
            <button>Eleanor</button>
            <button>Pena</button>
        </div>
        <hr>
        <div>
            <button id="b1">
                <input type="checkbox">
                <img src="assets/images/Capture28.PNG">
            </button>
            <button>4</button>
            <button>March</button>
            <button>Delson</button>
        </div>    
        <hr>
        <div>
            <button id="b1">
                <input type="checkbox">
                <img src="assets/images/Capture29.PNG">
            </button>
            <button>5</button>
            <button>Sina</button>
            <button>Ray</button>
        </div>
        <hr>
        <div>
            <p>5 rows&nbsp;&nbsp;&nbsp;<span>|<&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1-5 of 12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>|</p>
        </div>

    </div>

</div>