<!-- Load libraries -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>


<style>

    #main
    {
        font-family: 'Raleway';
        text-align: left;
        background-color: white;
        padding-top: 100px;
        margin: -8px
    }

    #div1
    {
        background-color: #F7F5F4;
        height: 200px;
        padding: 30px        
    } 

    #div1 img
    {
        size: 80%
    }

    #div1 button
    {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: bold;
        color: #02A7F0;
        background-color: #F7F5F4;
        border: 2px solid #797979;
        border-radius: 5px;
        cursor: pointer;
        float:right;
        padding: 10px 20px;
        margin-top: -50px;
        margin-right: 30px
    }  
    
    #div1 button:hover
    {
        border-color: #02A7F0
    }

    #div2
    {
        padding: 30px
    }

    #div3
    {
        text-align: center;
        background-color: #ffffff;
        border-right: 3px solid #797979;
        height: 2200px;
        width: 20%;
        display: inline-block;
        padding: 30px
    }

    #div3 button
    {
        text-align: left;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        display: block;
        width: 100%;
        padding: 15px 30px;
        margin: 5px 0px
    }

    #linkA
    {
        color: black;
        background-color: white
    }

    #linkB
    {
        color: #7F7F7F;
        background-color: white;
        cursor: pointer
    }

    #linkB:hover
    {
        text-decoration: underline   
    }

    #linkC
    {
        color: #0891FF;
        background-color: #F2F2F2
    }

    #div4
    {
        background-color: #F7F5F4;
        width: 70%;
        float: right;
        padding: 30px
    }
    
    #div5
    {
        width: 200px;
        background-color: white;
        border-left: 2px solid rgb(151, 151, 151);
        border-right: 2px solid rgb(151, 151, 151);
        border-radius: 5px;
        display: inline-block;
        padding: 0px 20px;
        margin-right: 11px
    }

    #div5 span
    {
        color: #da0e0e
    }
    
    #div6
    {
        width: 440px;
        background-color: white ;
        border: 2px solid rgb(151, 151, 151);
        border-radius: 5px;
        display: inline-block;
        padding: 10px 30px       
    }

    #div6 div button
    {
        font-family: 'Raleway';
        font-weight: bold;
        background-color: white;
        border: 1px solid grey;
        border-radius: 3px;
        float: right;
        cursor: pointer;
        padding: 10px;
        margin-top: 15px
    }

    #div6 div button:hover
    {
        background-color: #dadada
    }

    #div6 div h2
    {
        display: inline-block
    }

    #div6 span
    {
        font-size: 20px;
        font-weight: bolder
    }

    #div6 img
    {
        width: 80px;
        height: 80px;
        display: inline-block
    }

    #div7
    {
        text-align: left;
        float: right
    }

    #div8
    {
        width: 430px;
        background-color: white ;
        border: 2px solid rgb(151, 151, 151);
        border-radius: 5px;
        float: right;
        padding: 10px 30px
    }

    #div8 div button
    {
        font-family: 'Raleway';
        font-weight: bold;
        background-color: white;
        border: 1px solid grey;
        border-radius: 3px;
        float: right;
        cursor: pointer;
        padding: 10px;
        margin-top: 15px
    }

    #div8 div button:hover
    {
        background-color: #dadada
    }

    #div8 div h2
    {
        display: inline-block
    }

    #div8 img
    {
        width: 140px;
        height: 80px
    }

    #div9
    {
        float:right;
        cursor: pointer        
    }   

    #div9:hover
    {
        color: #02A7F0        
    }   
    
    #div11
    {
        text-align: center;
        width: 230px;
        background-color: white;
        border: 2px solid rgb(151, 151, 151);
        border-radius: 5px;        
        float: left;
        padding: 20px 30px;
        margin-bottom: 30px;
        margin-right: 40px
    }
    
    #div11 img
    {
        width: 100px;
        height: 100px
    }

    #div11 button
    {
        font-family: 'Raleway';
        font-weight: bold;
        background-color: white;
        border: 1px solid grey;
        border-radius: 3px;
        width: 100%;
        cursor: pointer;
        padding: 10px;
        margin-top: 10px
    }

    #div11 button:hover
    {
        background-color: #dadada
    }

    #div12
    {
        text-align: left
    }

    #div12 p
    {
        display: inline-block
    }

    #div12 span
    {
        float: right;
        margin-top: 15px
    }
    
</style>


<div id="main"> 

    <div id="div1">
        <img src="assets/images/Capture6.PNG">
        <h1>Welcome, Eric Zelikman</h1>
        <button>Edit Profile</button>
        <p>@ericzelikman - Deep learning engineer fascinated by how (and whether) algorithms learn meaningful representations.</p>
    </div>

    <div id="div2">

        <div id="div3">
            <button id="linkA">ADMIN DASHBOARD</button>
            <button id="linkC">Overview</button>
            <button id="linkA">COMPONENTS</button>
            <button id="linkB" (click)="goDialogueInquiry()"> Dialogue inquiry</button>
            <button id="linkB">Analytics</button>
            <button id="linkB">Courses</button>
            <button id="linkB">User</button>
            <button id="linkB">CMS</button>
            <button id="linkB">Project</button>
            <button id="linkB">Authentication</button>
            <button id="linkB">Layouts</button>
            <button id="linkB">Chat</button>
            <button id="linkB">Mail</button>
            <button id="linkB">Calendar</button>
            <button id="linkB">Site setting</button>
            <button id="linkB">Preview website</button>
            <button id="linkB">Help center</button>
        </div>

        <div id="div4">

            <div id="div5">
                <p>SALES</p>
                <h2>$10,800</h2>
                <p><span>+20.9$</span> Number of sales</p>
            </div>
            <div id="div5">
                <p>COURSES</p>
                <h2>2,456</h2>
                <p><span>+120</span> Number of pending</p>
            </div>
            <div id="div5">
                <p>STUDENTS</p>
                <h2>1,22,456</h2>
                <p><span>+1200</span> Students</p>
            </div>
            <div id="div5">
                <p>INSTRUCTOR</p>
                <h2>22,786</h2>
                <p><span>+200</span> Instructor</p>
            </div><br><br><br><br>

            <div id="div6">
                <div>
                    <h2>Popular Instructor</h2>
                    <button>View all</button>
                </div>
                <hr><br>
                <div>
                    <img src="assets/images/Capture25.PNG">
                    <div id="div7">
                        <h3>Rob Percival</h3>
                        <p><span>42</span> Courses <span>110,124</span> Students <span>32,000</span> Reviews</p>
                    </div><div style="clear: both;"></div>
                </div>
                <hr><br>
                <div>
                    <img src="assets/images/Capture26.PNG">
                    <div id="div7">
                        <h3>Jose Portilla</h3>
                        <p><span>12</span> Courses <span>21,567</span> Students <span>22,000</span> Reviews</p>
                    </div><div style="clear: both;"></div>
                </div>
                <hr><br>
                <div>
                    <img src="assets/images/Capture27.PNG">
                    <div id="div7">
                        <h3>Eleanor Pena</h3>
                        <p><span>32</span> Courses <span>11,604</span> Students <span>12,230</span> Reviews</p>
                    </div><div style="clear: both;"></div>
                </div>
                <hr><br>
                <div>
                    <img src="assets/images/Capture28.PNG">
                    <div id="div7">
                        <h3>March Delson</h3>
                        <p><span>23</span> Courses <span>6,304</span> Students <span>56,000</span> Reviews</p>
                    </div><div style="clear: both;"></div>
                </div>
                <hr><br>
                <div>
                    <img src="assets/images/Capture29.PNG">
                    <div id="div7">
                        <h3>Sina Ray</h3>
                        <p><span>14</span> Courses <span>8,000</span> Students <span>33,000</span> Reviews</p>
                    </div><div style="clear: both;"></div><br>
                </div>
            </div>

            <div id="div8">
                <div>
                    <h2>Recent Courses</h2>
                    <button>View all</button>
                </div>
                <hr><br>
                <div>
                    <img src="assets/images/Capture30.PNG">
                    <div id="div9" style="margin-right: 70px;">
                        <h3>Revolutionize how you<br> build the web</h3>
                    </div>
                </div>
                <br><hr><br>
                <div>
                    <img src="assets/images/Capture31.PNG">
                    <div id="div9" style="margin-right: 90px;">
                        <h3>Guide to Static Sites<br> with Gatsby.js</h3>
                    </div>
                </div>
                <br><hr><br>
                <div>
                    <img src="assets/images/Capture32.PNG">
                    <div id="div9" style="margin-right: 65px;">
                        <h3>The Modern JavaScript<br> Courses</h3>
                    </div>  
                </div>
                <br><hr><br>
                <div>
                    <img src="assets/images/Capture33.PNG">
                    <div id="div9" style="margin-right: 35px;">
                        <h3>Online WordPress Courses <br>Become an Expert Today</h3>
                    </div>
                </div><br>
            </div><br><br><br><hr>

            <div id="div10">
                <br><h1>USERS</h1><br>
                <div id="div11">
                    <img src="assets/images/Capture34.PNG">
                    <h3>Esther Howard</h3>
                    <p>United States</p>
                    <div id="div12">
                        <p>Payments</p>
                        <span>$5,274</span>
                        <hr>
                        <p>Joined at</p>
                        <span>17 Aug, 2020</span>
                        <hr>
                        <p>Courses</p>
                        <span>12</span>   
                    </div>
                    <button>Delete user</button>
                </div>

                <div id="div11">
                    <img src="assets/images/Capture35.PNG">
                    <h3>Esther Howard</h3>
                    <p>India</p>
                    <div id="div12">
                        <p>Payments</p>
                        <span>$2,660</span>
                        <hr>
                        <p>Joined at</p>
                        <span>15 Aug, 2020</span>
                        <hr>
                        <p>Courses</p>
                        <span>42</span>   
                    </div>
                    <button>Delete user</button>
                </div>

                <div id="div11">
                    <img src="assets/images/Capture36.PNG">
                    <h3>Jacob Jones</h3>
                    <p>United Kingdom</p>
                    <div id="div12">
                        <p>Payments</p>
                        <span>$9,600</span>
                        <hr>
                        <p>Joined at</p>
                        <span>15 Aug, 2020</span>
                        <hr>
                        <p>Courses</p>
                        <span>3</span>   
                    </div>
                    <button>Delete user</button>
                </div>

                <div id="div11">
                    <img src="assets/images/Capture37.PNG">
                    <h3>Esther Howard</h3>
                    <p>Netherland</p>
                    <div id="div12">
                        <p>Payments</p>
                        <span>$14,944</span>
                        <hr>
                        <p>Joined at</p>
                        <span>14 Aug, 2020</span>
                        <hr>
                        <p>Courses</p>
                        <span>2</span>   
                    </div>
                    <button>Delete user</button>
                </div>

                <div id="div11">
                    <img src="assets/images/Capture38.PNG">
                    <h3>Kristin Watson</h3>
                    <p>South Africa</p>
                    <div id="div12">
                        <p>Payments</p>
                        <span>$8,230</span>
                        <hr>
                        <p>Joined at</p>
                        <span>15 Aug, 2020</span>
                        <hr>
                        <p>Courses</p>
                        <span>7</span>   
                    </div>
                    <button>Delete user</button>
                </div>

                <div id="div11">
                    <img src="assets/images/Capture39.PNG">
                    <h3>Jenny Wilson</h3>
                    <p>New York</p>
                    <div id="div12">
                        <p>Payments</p>
                        <span>$2,140</span>
                        <hr>
                        <p>Joined at</p>
                        <span>15 Aug, 2020</span>
                        <hr>
                        <p>Courses</p>
                        <span>5</span>   
                    </div>
                    <button>Delete user</button>
                </div>
            </div>

        </div>
        
    </div><br><br>

</div>