<!-- Load libraries -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>


<style>

    #main
    {
        font-family: 'Raleway';
        text-align: left;
        background-color: white;
        padding-top: 100px;
        margin: -8px
    }

    #div1
    {
        background-color: #F7F5F4;
        height: 200px;
        padding: 30px        
    } 

    #div1 img
    {
        size: 80%
    }

    #div1 button
    {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: bold;
        color: #02A7F0;
        background-color: #F7F5F4;
        border: 2px solid #797979;
        border-radius: 5px;
        cursor: pointer;
        float:right;
        padding: 10px 20px;
        margin-top: -50px;
        margin-right: 30px
    }  
    
    #div1 button:hover
    {
        border-color: #02A7F0
    }

    #div2
    {
        padding: 30px
    }

    #div3
    {
        text-align: center;
        background-color: #ffffff;
        border-right: 3px solid #797979;
        height: 1220px;
        width: 20%;
        display: inline-block;
        padding: 30px
    }

    #div3 button
    {
        text-align: left;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        display: block;
        width: 100%;
        padding: 15px 30px;
        margin: 5px 0px
    }

    #linkA
    {
        color: black;
        background-color: white
    }

    #linkB
    {
        color: #7F7F7F;
        background-color: white;
        cursor: pointer
    }

    #linkB:hover
    {
        text-decoration: underline   
    }

    #linkC
    {
        color: #0891FF;
        background-color: #F2F2F2
    }

    #div4
    {
        width: 70%;
        float: right;
        padding: 30px
    }

    #div4B1
    {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: #027DB4;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        float:right;
        padding: 10px 20px;
        margin-top: -50px;
        margin-right: 90px
    } 

    #div4B1:hover
    {
        background-color: #1FABE8
    }

    #div4B2
    {
        font-size: 18px;
        color: #027DB4;
        border: none;
        cursor: pointer;
        float:right;
        padding: 10px 20px;
        margin-top: -50px;
        margin-right: 400px
    }

    #div4B2:hover
    {
        text-decoration: underline
    }
    
    #div4 hr
    {
        width: 630px;
        border: 1px solid #797979;
        float: left
    }

    #div4 h4
    {
        margin-top: -5px;
        margin-left: 12px
    }

    #div4 h4:hover
    {
        color: #027DB4;
        cursor: pointer
    }

    #div5
    {
        float: right;
        margin-right: 580px;
        margin-top:-8px
    }

    #div5 button
    {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: bold;
        border: none;
        display: block;
        padding: 15px 30px;
        margin: 17px 0px
    }

    #div6
    {
        float: left;
        margin-right: 50px
    }

    #div7
    {
        text-align: center;
        background-color: white;
        border-left:4px solid #0891FF;
        border-right: 4px solid #0891FF;
        border-radius: 8px;
        width: 296px;
        display: inline-block;
        margin-right: 10px
    }

</style>


<div id="main"> 

    <div id="div1">
        <img src="assets/images/Capture6.PNG">
        <h1>Welcome, Andrew Ng</h1>
        <button>Edit Profile</button>
        <p>@andrew.ng.96 - Founder of DeepLearning.AI, General Partner at AI Fund, and an Adjunct Professor at Stanford University</p>
    </div>

    <div id="div2">

        <div id="div3">
            <button id="linkA" style="padding: 15px 0px 15px 30px;">INSTRUCTOR DASHBOARD</button>
            <button id="linkC">Profile</button>
            <button id="linkA">MY ACCOUNT</button>
            <button id="linkB">Manage courses</button>
            <button id="linkB">Manage quizzes</button>
            <button id="linkB">Earnings</button>
            <button id="linkB">Statements</button>
            <button id="linkB">Edit course</button>
            <button id="linkB">Edit quiz</button>
            <button id="linkB">Get help</button>
        </div>

        <div id="div4">
            <h1>EARNINGS</h1><br>
            <div id="div7">
                <h2>$1,569.00</h2>
                <p>Earnings this month</p>
            </div>
            <div id="div7">
                <h2>$3,917.80</h2>
                <p>Account Balance</p>
            </div>
            <div id="div7">
                <h2>$10,211.50</h2>
                <p>Total Sales</p>
            </div><br><br><br><br>

            <h1>MY COURSES</h1>
            <button id="div4B1">Add course</button><br><br>
            
            <h4>DEVELOPMENT COURSES</h4>
            <div id="div6">
                <img src="assets/images/Capture19.PNG">
                <h4>Learn Angular fundamentals</h4>
            </div>
            <div id="div6">
                <img src="assets/images/Capture20.PNG">
                <h4>Build an iOS Application in Swift</h4>
            </div>
            <div id="div6">
                <img src="assets/images/Capture21.PNG">
                <h4>Build a WordPress Website</h4><br><br><br>
            </div>

            <h4>DESIGN COURSES</h4>
            <div id="div6">
                <img src="assets/images/Capture22.PNG">
                <h4>Learn Sketch</h4>
            </div>
            <div id="div6">
                <img src="assets/images/Capture23.PNG">
                <h4>Learn Flinto</h4>
            </div>
            <div id="div6">
                <img src="assets/images/Capture24.PNG">
                <h4>Learn Photoshop</h4>
            </div>
        </div>

    </div><br><br>
    
</div>