<!-- Load libraries -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>


<style>

    #main
    {
        font-family: 'Raleway';
        text-align: center;
        background-color: white;
        padding-top: 100px;
        margin: -8px
    }

    #div0
    {
        background-color: #0A2A66
    }

    #div1
    {
        text-align: left;
        color: white;
        background-color: #0A2A66;
        width: 30%;
        height: 480px;
        display: inline-block;
        padding: 100px
    }

    #div2
    {
        text-align: left;
        color: white;
        background-color:#0A2A66;
        width: 30%;
        height: 480px;
        float: right;
        padding: 100px;
        margin-right: 100px        
    }

    #div3
    {
        font-size: 26px;
        text-align: left;
        color: black;
        background-color: #F7F8FA;
        background-image: url('assets/images/Capture1.PNG');  
        background-repeat: no-repeat;
        background-position: bottom;
        height: 600px;
        padding: 50px 400px
    }

    #div4
    {
        font-size: 22px;
        text-align: left;
        color: black;
        background-color:white;
        padding: 80px 200px        
    }

    #div5
    {
        font-size: 22px;
        text-align: center;
        color: white;
        background-color:#65A8C5;
        padding: 50px
    }

    #div5 hr
    {
        width: 100px;
        border: 2px solid white
    }

    #b1
    {
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: #0A2A66;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 20px;
        margin-right: 20px;
        cursor: pointer 
    }

    #b1:hover
    {
        color:#0A2A66;
        background-color: white
    }

    #b2
    {
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: #0A2A66;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 15px;
        margin-right: 20px;
        cursor: pointer       
    }

    #b2:hover
    {
        color:#0A2A66;
        background-color: white
    }

    #b3
    {
        font-size: 20px;
        font-weight: bold;
        color:#0A2A66;
        background-color: white;
        border: 2px solid white;
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 20px;
        cursor: pointer       
    }

    #b3:hover
    {
        color: white;
        background-color: #0A2A66
    }

    input
    {
        width: 85%;
        border: 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0px
    }

    span
    {
        font-size: 12px
    }

</style>


<div id="main">

    <div id="div0">
        <div id="div1">
            <h1>Help us do more</h1><br>
            <p>We'll get right to the point: we're asking you to help support SkillWare Academy. 
            We're a nonprofit that relies on support from people like you. If everyone reading this gives $12 monthly, 
            SkillWare Academy can continue to thrive for years. 
            Please help keep SkillWare Academy free, for anyone, anywhere forever.</p>
        </div>

        <div id="div2">
            <p>Select gift frequency</p>
            <button id="b1">Monthly</button>
            <button id="b1">One time</button><br><br>

            <p>Select amount (in US dollars)</p>
            <button id="b2">$12</button>
            <button id="b2">$20</button>
            <button id="b2">$30</button>
            <button id="b2">$40</button>
            <button id="b2">$50</button><br><br><br>
            
            <label>Name (required)</label><br>
            <input type="text"><br>
            <label>Email (required)</label><br>
            <input type="text"><br><br>

            <button id="b3">Give by credit card</button>
            <button id="b3">Give with PayPal</button><br><br>
            <span>By donating, you agree to our terms of service and privacy policy.</span>
                    
        </div>
    </div>

    <div id="div3">
        <p>SkillWare Academy is a registered 501(c)(3) non-profit in the United States, 
        and all gifts to us are tax deductible in the United States to the fullest extent allowed by law. 
        Our Tax ID number is 26-1544963.<br><br>To learn more about our generous donors, please visit our Supporters page. 
        Click here for our 2020 annual report. Please follow these links for the 2019 annual report, 
        2018 annual report, and the 2017 annual report.</p>
    </div>

    <div id="div4">
        <h1>Frequently asked questions</h1>

        <h4>Can I send a check?</h4>
        <p>Yes, please send checks to the following address:<br>SkillWare Academy<br>P.O. Box 1630<br>Mountain View CA 94042<br><br>
        Checks should be made payable to SkillWare Academy, and you should enclose a letter with your name, address, 
        phone number, email address, 
        and donation amount—we want to know who you are so we can show our gratitude for your support!</p>
        <hr>

        <h4>Can I donate stock or make my donation by wire transfer?</h4>
        <p>Yes, we accept donations of stock and donations by domestic and international wire transfer. 
        Please email donate@SkillWareacademy.org for our wire and stock transfer information.</p>
        <hr>

        <h4>Do you accept employer matches?</h4>
        <p>Yes, we do. You'll find more information on employer matched gifts here.</p>
        <hr>

        <h4>Can I donate in a currency other than US dollar?</h4>
        <p>We only accept donations in US dollars. We cannot accept foreign cash or foreign checks. 
        Since donations made using PayPal are automatically converted to US dollars, 
        supporters outside the United States may want to donate using this method.</p>
        <hr>

        <h4>What is the learners fund?</h4>
        <p>The Learners Fund is a select community of supporters who make unrestricted gifts of $1,000 
        to $99,999 each year. Interested in joining the Learners Fund and changing lives for millions of 
        learners each month in more than 190 countries? Email us at donate@SkillWareacademy.org to learn more.</p>
        <hr>
    </div>

    <div id="div5">
        <h1>Get in touch.</h1>
        <hr>
        <p>donate@SkillWareacademy.org<br><br>P.O. Box 1630<br>Mountain View, CA 94042</p>
    </div>
    
</div>