<!-- Load libraries -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>


<style>

    #main
    {
        font-family: 'Raleway';
        text-align: left;
        background-color: white;
        padding-top: 100px;
        margin: -8px
    }

    #div1
    {
        background-color: #F7F5F4;
        height: 200px;
        padding: 30px        
    } 

    #div1 img
    {
        size: 80%
    }

    #div1 button
    {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: bold;
        color: #02A7F0;
        background-color: #F7F5F4;
        border: 2px solid #797979;
        border-radius: 5px;
        cursor: pointer;
        float:right;
        padding: 10px 20px;
        margin-top: -50px;
        margin-right: 30px
    }  
    
    #div1 button:hover
    {
        border-color: #02A7F0
    }

    #div2
    {
        padding: 30px
    }

    #div3
    {
        text-align: center;
        background-color: #ffffff;
        border-right: 3px solid #797979;
        height: 1000px;
        width: 20%;
        display: inline-block;
        padding: 30px
    }

    #div3 button
    {
        text-align: left;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        display: block;
        width: 100%;
        padding: 15px 30px;
        margin: 5px 0px
    }

    #linkA
    {
        color: black;
        background-color: white
    }

    #linkB
    {
        color: #7F7F7F;
        background-color: white;
        cursor: pointer
    }

    #linkB:hover
    {
        text-decoration: underline   
    }

    #linkC
    {
        color: #0891FF;
        background-color: #F2F2F2
    }

    #div4
    {
        width: 70%;
        float: right;
        padding: 30px
    }

    #div4B1
    {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: #027DB4;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        float:right;
        padding: 10px 20px;
        margin-top: -50px
    } 

    #div4B1:hover
    {
        background-color: #1FABE8
    }

    #div4B2
    {
        font-size: 18px;
        color: #027DB4;
        border: none;
        cursor: pointer;
        float:right;
        padding: 10px 20px;
        margin-top: -50px;
        margin-right: 400px
    }

    #div4B2:hover
    {
        text-decoration: underline
    }
    
    #div4 hr
    {
        width: 630px;
        border: 1px solid #797979;
        float: left
    }

    #div5
    {
        float: right;
        margin-right: 580px;
        margin-top:-8px
    }

    #div5 button
    {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: bold;
        border: none;
        display: block;
        padding: 15px 30px;
        margin: 17px 0px
    }

    #div6
    {
        float: left;
        margin-right: 50px
    }

    #div6 img
    {
        margin-left: -10px
    }

</style>


<div id="main"> 

    <div id="div1">
        <img src="assets/images/Capture6.PNG">
        <h1>Welcome, Youssef Mahmoud</h1>
        <button>Edit Profile</button>
        <p>Faculty of Computer and Information Science - SoftWare Engineering Department - Ain Shams University.</p>
    </div>

    <div id="div2">
        <div id="div3">
            <button id="linkA">STUDENT DASHBOARD</button>
            <button id="linkC">Profile</button>
            <button id="linkA">MY ACCOUNT</button>
            <button id="linkB" (click)="goCalendar()">Calendar</button>
            <button id="linkB">Progress</button>
            <button id="linkB">Browse courses</button>
            <button id="linkB">Browse Paths</button>
            <button id="linkB">Teachers</button>
            <button id="linkB">Take quiz</button>
            <button id="linkB">My quizzes</button>
            <button id="linkB">Quiz result</button>
            <button id="linkB">Skill assessment</button>
            <button id="linkB">Skill result</button>
            <button id="linkB">Get help</button>
        </div>

        <div id="div4">
            <h1>MY COURSES</h1>
            <button id="div4B1">Edit courses</button><br><br>
            <h2>Career</h2>
            <button id="div4B2">See all(15)</button>
            <br><hr><br><br>
            <img src="assets/images/Capture7.PNG">
            <div id="div5">
                <button id="linkB">Navigate your career</button>
                <button id="linkB">Serve your community</button>
                <button id="linkB">Support health and wellness</button>
                <button id="linkB">Work in tech</button>
                <button id="linkB">Advertise and sell</button>
            </div>
            <br><br><hr><br><br>
            <h2>RESUME LEARNING</h2>
            <div id="div6">
                <img src="assets/images/Capture8.PNG">
                <h4>Strings</h4>
                <p>Programming</p>
            </div>
            <div id="div6">
                <img src="assets/images/Capture9.PNG">
                <h4>Adding and subtracting matrices</h4>
                <p>Matrices</p>
            </div>
            <div id="div6">
                <img src="assets/images/Capture10.PNG">
                <h4>Matrices</h4>
                <p>Precalculus</p>
            </div>
        </div>
    </div>
    <br><br>

</div>