<!-- Load libraries -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>


<style>

    #main
    {
        font-family: 'Raleway';
        text-align: left;
        background-color: white;
        padding-top: 100px;
        margin: -8px
    }

    #div1
    {
        color: black;
        background-color: white;
        background-image: url('assets/images/Capture2.PNG');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 50%;
        height: 500px;
        padding: 100px;
        margin-left: 100px
    }

    #div1 h1
    {
        font-size: 45px;
        margin-left: 600px;
        margin-top: 100px
    }

    #div1 p
    {
        font-size: 24px;
        margin-left: 600px
    }

    #div2
    {
        font-size: 28px;
        text-align: center;
        padding: 60px 120px
    }

    #div3
    {
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        color: #333333;
        background-color: #F2F2F2;
        padding: 100px 120px
    }

    #div3 p
    {
        text-align: right
    }

    #div4
    {
        font-size: 22px;
        text-align: left;
        background-color: white;
        background-image: url('assets/images/Capture3.PNG');
        background-repeat: no-repeat;
        background-position: left;
        padding: 50px;
        padding-left: 650px;
        margin-left: 200px
    }

    #div4 span
    {
        font-size: 45px;
        font-weight: bolder;
        color: #25A08C
    }

    #div5
    {
        color: black;
        background-color: white;
        background-image: url('assets/images/Capture4.PNG');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 50%;
        height: 650px;
        padding: 10px;
        margin-left: 200px;
        margin-right: 150px
    }

    #div5 h1
    {
        font-size: 45px;
        margin-top: 100px
    }

    #div5 p
    {
        font-size: 24px
    }

    #div6
    {
        color: black;
        background-color: white;
        background-image: url('assets/images/Capture5.PNG');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 50%;
        height: 700px;
        padding: 10px;
        margin-left: 200px
    }

    #div6 h1
    {
        font-size: 45px;
        margin-top: 150px;
        padding-left: 650px
    }

    #div6 p
    {
        font-size: 24px;
        padding-left: 650px
    }

    button
    {
        font-family: 'Raleway';
        font-size: 24px;
        color: white;
        background-color: #027DB4;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px   
    }

    button:hover
    {
        background-color: #02A7F0
    }
    
</style>


<div id="main">

    <div id="div1">
        <h1>Millions of students lack opportunity. Together, we can give it to them.</h1>
        <p>We are a nonprofit with the mission to provide a free, world-class education to anyone, anywhere</p>
    </div>

    <div id="div2">
        <h1>Everyone is born with a desire to <br>learn. They only need the chance.</h1>
    </div>

    <div id="div3">
        <h1>“SkillWare Academy gave me a reason to wake up <br>hopeful for a new day. 
        Had I never come across it,<br> my life story would be like millions of other Afghan
        <br>girls stuck in the cage of ignorance. Thank you for <br>helping me free that cage.”</h1><br>
        <p>SULTANA<br>AFGHANISTAN</p>
    </div>

    <div id="div2">
        <h1>You can bring education to<br> the world.</h1>
    </div>

    <div id="div4">
        <span>70+ million</span>
        <p>people learning with us</p>
        <span>15 billion</span>
        <p>practice questions completed</p>
        <span>190</span>
        <p>countries</p>
        <span>40+</span>
        <p>languages</p>
    </div>

    <div id="div2">
        <h1>How can you help level the<br> playing field?</h1>
    </div>

    <div id="div5">
        <h1>Provide a free, high-<br>quality education for <br>anyone, anywhere in<br> the world</h1>
        <p>With a low-cost mobile phone, a learner<br> anywhere in the world has access to 
        the <br>same SkillWare Academy lessons as <br>students in the world's best schools. 
        Help <br>bring more courses, translated into more<br> languages, to students ready to learn.</p>
        <button (click)="goDonate()">Support learning everywhere</button>
    </div>

    <div id="div6">
        <h1>Bring world-class <br>learning to every <br>classroom</h1>
        <p>Every student deserves to step into <br>a classroom equipped with the best <br>resources. 
        Help give teachers free, <br>powerful tools and lessons that enable all <br>
        students to reach their full potential.</p>
    </div>

    <div id="div3">
        <h1>“It is rare that you can reach a lot of people and<br> reach them deeply. 
        SkillWare Academy's impact <br>has both breadth and depth. That is why I donate.”</h1><br>
        <p>CHUCK KUNG<br>United States</p>
    </div>

</div>